.logo{
    background-color: black;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: green;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.blogs-body{
    background-color: black;
}
.blog-title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.blog-detaile{
font-family: 'Yanone Kaffeesatz', sans-serif;
}
@media(max-width:980px){
    .blog-title{
        font-size: small;
    }
    .blog-date{
        font-size: small;
    }
    .blog-detaile{
        font-size: medium;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    }
}